*{
    box-sizing: border-box;
}

#container{
    border:2px solid black;
    height: 500px;
}

.pop{
    height: 50px;
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 50px;
    padding-top: 2px;
    position: relative;
    background-color: rgba(188,166,188,0.1);
    border-radius: 10px;
}
.pop_text{
    color: blue;
}