*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial;
}
button{
    width: 150px;
    display: flex;
}
p .red_alert .reference::after {
        display: inline-block;
        content: " ";
        height: 7px;
        width: 7px;
        margin-left: 2px;
        border-radius: 50%;
        background-color:red;
}
img{
    height: 100%;
    width: 100%;
}
    /*MAIN STYLE*/
#container{
    
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.inner_div{
    padding-top: 10px;
    display: flex;
    height: 100%;
    width: 80%;
    margin-left:60px;
    position: relative;
    
}
.inner_div_rev{
    padding-top: 10px;
    height: 100%;
    width: 80%;
    margin-left:60px;

}
.new_notification{
    height: 70px;
    width: 100%;
    margin-top:5px;
    position: relative;
    background-color: rgba(115,150,224,0.1);
    border-radius: 10px;
    position: relative;
    padding-left: 10px;
}
.new_notification:hover{
    background-color:rgba(115, 150, 224, 0.5);
}

.read_notification{
    background-color: transparent;
}

.name{
    color:hsl(224, 21%, 14%);
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}

.data{
    margin-right: 5px;
    color:hsl(219, 14%, 63%);
    font-weight:bold;
    font-size:15px;
}

.reference{
    color:hsl(219, 12%, 42%);
    font-weight:bold;
    font-size: 15px;
}
.ref_src{
    margin-top: 5px;
    height:40px;
    width: 40px;
    float: right;
}
.pic_frame{
    height:50px;
    width:50px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);

}

.notify{
    height: 100%;
    margin-right:5px ;
    width: 10px;
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;

}
.red_alert{
  

}